@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cery-dark-blue: hsl(217, 54%, 11%);
    --very-dark-blue: hsl(216, 50%, 16%);
    --very-dark-blue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    background-color: var(--cery-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    color: white;
}

main {
    background-color: var(--very-dark-blue);
    width: 350px;
    padding: 20px;
    border-radius:1rem;
}

main > img {
    width: 100%;
    border-radius: 0.5rem;
}

.product-details > h2 {
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

.product-details > p {
    color: var(--soft-blue);
    padding: 0 0 0.8rem 0;
    font-weight: 300;
}

.auction-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    font-weight: 300;
    font-size: 0.9rem;
}

.ethereum {
    display: flex;
    gap: 0.5rem;
}