@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cery-dark-blue: hsl(217, 54%, 11%);
    --very-dark-blue: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    background-color: var(--cery-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    color: white;
}

main {
    background-color: var(--very-dark-blue);
    width: 350px;
    padding: 20px;
    border-radius:1rem;
}

main > a > img {
    width: 100%;
    border-radius: 0.5rem;
}

/* description area */

.description-area {
    margin: 1rem 0 1.5rem 0;
}

.product-details > h2 {
    font-size: 1.5rem;
}

.product-details > p {
    color: var(--soft-blue);
    font-weight: 300;
    padding: 1rem 0;
}

.auction-detail {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 0.9rem;
}

.ethereum, .time {
    display: flex;
    gap: 0.5rem;
}

.eth {
    color: var(--cyan);
}

.time > p {
    color: var(--soft-blue);
}

hr {
    border: 1px solid var(--dark-blue-line);
    opacity: 0.5;
}

/* creator section */

.creater-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-weight: 300;
    margin: 1rem 0;
}

.creater-section > img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid white;
}

.creater-section > p {
    font-size: 1rem;
}

.creater-section > p > a > span  {
    color: var(--soft-blue);
}

/* activate state */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--cyan);
    cursor: pointer;
}